
.about-content {
    display: flex;
    margin-bottom: 0;
    position: relative;
    justify-content: space-between;
    padding: 1em 4em;
    flex-direction: row;
    color: #ffffff;
}

.about-vision, .about-mission {
    padding: 0 2em;
}

.about-vision h2, .about-mission h2 {
    text-align: left;
    letter-spacing: 0.12px;
    color: #FFFFFF;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}

.about-overview {
    padding-top: 2em;
}

.about-overview h3 {
    text-transform: uppercase;
}


.about-overview .col-8 {
    border-right: 0.3px solid #e0e0e0;
}

.about-overview .col-4 {
    width: 31%;
}

.links p>a {
    color: #000000;
    text-decoration: none;
}

.about-overview p {
    padding-right: 0.5em;
    line-height: 1.8;
}

.overview h4 {
    padding-top: 2em;
    letter-spacing: 0.04em;
}