
/* colors*/
.greysh-background {
    background: #f7f8f8 !important;
}
.bluish-text-color {
    color: #26a3dd !important;
}

/*custom font sizes*/
.small-text {
    font-size: 1em;
}

/*dividers*/
.vertical-divider {
    border-right: 2px solid #26a3dd;
    padding: 0 10px 0 10px;
}

