
/* colors*/
.greysh-background {
    background: #f7f8f8 !important;
}

.dark-grey-background {
    background: #636363 !important;
}

.black-background {
    background: #242323 !important;
}
.bluish-text-color {
    color: #26a3dd !important;
}

.white-text-color {
    color: #ffffff;
}

.dark-white-color {
    color: #a3a3a3;
}

/*custom font sizes*/
.small-text {
    font-size: 1em;
}

/*dividers*/
.vertical-divider {
    border-right: 2px solid #26a3dd;
    padding: 0 10px 0 10px;
}
 .bg-blue{
    background-color: #00A3DD;
    padding: 1em 0;
}


/* style active menu item */
/*.active {*/
/*    border-bottom: 3px solid #26a3dd;*/
/*    padding: 0 5px 4px 5px;*/
/*}*/

.layout-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    position: relative;
    justify-content: space-between;
}

.related-link {
    text-transform: uppercase;
    color: #00A3DD;
    padding-inline-start: 1em;
}
.links {
    padding-inline-start: 1em;
}
h2, h3{
    letter-spacing: 1px;
}

/* page intro */
.page-intro-section {
    background-image:  url('../images/zanzibar-arial.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-intro-section h1 {
    font-size: 2em;
    text-transform: uppercase;
}

.page-intro-section p {
    font-size: 1.2em;
}

.page-intro-section article {
    margin: auto;
    text-align: center;
    line-height: 1.7;
    background-color: rgba(0, 0, 0, 0.7);
    padding:20px 80px 120px 80px;
}
