
.e_library{
    margin-top: 3em;
    background-color: #f7f8f8;
    padding-bottom: 3.5em;

}
.e_library table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .e_library td, .e_library th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 1.2em;
  }
  
  .table-header{
      background-color: #00A3DD;
  }
  .e_library td:nth-child(3),
  .e_library th:nth-child(3){
      text-align: center;
  }
  .e_library td:nth-child(3)> a{
      cursor: pointer;
      color: #00A3DD;
      text-decoration: underline;
  }
