
.site-footer .main-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
}

.site-footer .main-footer .subscription-section form {
    display: flex;
    flex-direction: column;
}

.site-footer .main-footer .subscription-section form input[type="email"] {
    margin-bottom: 20px;
    padding: 10px;

}

.site-footer .main-footer .subscription-section form input[type="submit"] {
    padding: 10px;
    width: 50%;
    color: #ffffff;
}

.site-footer .main-footer .subscription-section form input {
    background: #242323;
    border: 1px  solid #a3a3a3;
}

.site-footer .footer-navigation {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.site-footer .footer-navigation nav {
    width: 100%;
}

#menu-footer-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

#menu-footer-menu li a:hover {
    color: #242323;
}

#menu-footer-menu li a {
    color: #ffffff;
    text-decoration: none;
}

#menu-footer-menu li {
    padding-right: 20px;
}


