.ppp-legal-framework section article:nth-child(1) {
    width: 50%;
}

.page-framework li {
    list-style-type: none;
}

.ppp-legal-framework li {
    padding: 10px 10px;
    border-bottom: 1px solid #e0e0e0;
}

.ppp-legal-framework li:last-child {
    border: none;
}

.ppp-legal-framework li a {
    color: #26a3dd;
}

.ppp-legal-framework li:before {
    color: #26a3dd;
}

.page-framework li:before {
    margin-right: 10px;
    content: "-";
}

.isolated-list li {
    list-style-type: none;
    padding: 10px 10px;
    color: #26a3dd;
    border-bottom: 1px solid #e0e0e0;
}

.isolated-list li:before {
    margin-right: 10px;
    color: #26a3dd;
    content: "-";
}

/* Styles  for header in mobile screen */

/* mobile small*/

@media only screen and (max-width: 320px) {}

/* mobile medium */

@media only screen and (max-width: 375px) {}

/* mobile  Large */

@media only screen and (max-width: 425px) {
    .ppp-legal-framework article h2, .ppp-public-communications-strategy h2 {
        font-size: 1.3em;
        padding: 0 1.2em;
    }
    .ppp-legal-framework article p, .ppp-legal-framework article h4, .ppp-legal-framework article ul, .ppp-public-communications-strategy p, .ppp-public-communications-strategy h5, .ppp-public-communications-strategy ul {
        padding: 0 1.5em;
    }
    .ppp-legal-framework section article:nth-child(1) {
        width: 98%;
    }
}

/* Tablet */

@media (min-width: 426px) and (max-width: 768px) {
    .ppp-legal-framework article h2, .ppp-public-communications-strategy h2 {
        padding: 0 1.4em;
    }
    .ppp-legal-framework article p, .ppp-legal-framework article h4, .ppp-legal-framework article ul, .ppp-public-communications-strategy p, .ppp-public-communications-strategy h5, .ppp-public-communications-strategy ul {
        padding: 0 2em;
    }
    .ppp-legal-framework section article:nth-child(1) {
        width: 98%;
    }
    .ppp-public-communications-strategy h5 {
        letter-spacing: 1px;
    }
}

/* Laptop 1024 */

@media only screen and (min-width: 1024px) {
    .ppp-legal-framework section {
        display: flex;
        justify-content: space-between;
    }
    .ppp-legal-framework article h2 {
        padding-top: 10px;
    }
    .ppp-legal-framework article p {
        width: 65%;
        line-height: 1.5;
    }
    .isolated-list {
        width: 50%;
    }
}

/* Laptop 1440 */

@media only screen and (min-width: 1440px) {}

/* Laptop 2560 */

@media only screen and (max-width: 2560px) {}