.navigation-bar {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

/* hide menu page by default */

#menu-page {
    display: none;
}

.navigation-bar-mobile {
    display: none;
}

/* styles for top navigation bar*/

.navigation-bar .top-navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.navigation-bar a:hover {
    color: #242323;
}

.navigation-bar a {
    cursor: pointer;
    color: #0054a0;
    text-decoration: none;
    font-size: 1vw;
}

.navigation-bar .top-navigation aside:nth-child(2) {
    display: flex;
}

.navigation-bar .main-navigation nav {
    width: 70%;
}

.navigation-bar ul {
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-bar .main-navigation ul li {
    text-transform: uppercase;
}

.navigation-bar .language-selector {
    margin-left: 10px;
    color: #0054a0 !important;
    outline: none;
    padding-right: 30px !important;
    font-size: 1em !important;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: #f7f8f8 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='24' xmlns='http://www.w3.org/2000/svg'><g><path  stroke='%2326a3dd' stroke-width='15' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%2326a3dd'/></g></svg>") no-repeat right 5px top 50%;
}

/* styles for the logos section*/

.navigation-bar .logos-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .logos-section h3 {
    text-align: center;
}

/* styles for main navigation bar section */

.navigation-bar .main-navigation {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 18px !important;
    align-items: center;
}

.navigation-bar .main-navigation .current_page_item {
    border-bottom: 3px solid #0054a0;
    padding: 0 5px 4px 5px;
}

.navigation-bar .search-section {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 1px;
    width: 25%;
}

.navigation-bar input[type="search"] {
    width: 100%;
}

.navigation-bar .search-section button {
    background: #ffffff;
    outline: none;
    padding: 5px 5px;
    border-left: 1px solid #e0e0e0;
}

.navigation-bar .search-section input, button {
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 2px;
}

.top-navigation li:last-child {
    border: none;
}

/* dropdown menu */

.navigation-bar .main-navigation ul ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navigation-bar .main-navigation ul ul li {
    float: none;
    min-width: 150px;
}

.navigation-bar .main-navigation ul ul li a {
    padding: 5px 10px;
}

.navigation-bar .main-navigation ul li:hover>ul {
    display: block;
}

.navigation-bar .main-navigation .sub-menu a {
    font-size: 0.8em;
}

.navigation-bar .main-navigation .sub-menu li {
    margin-bottom: 10px;
}

.top-navigation li {
    border-right: 2px solid #0054a0;
    padding: 0 10px 0 10px;
    text-transform: capitalize;
}

.top-navigation li:last-child {
    border-right: none;
}

.top-navigation .current_page_item a {
    color: #242323;
}

/* addition css */

.navigation-bar .main-navigation, .navigation-bar .logos-section {
    padding: 0 18px;
}

.navigation-bar .logos-section h3 {
    font-size: 2vw;
}

.search-form {
    padding: 5px;
}

/* Styles  for header in mobile screen */

/* mobile small*/

@media only screen and (max-width: 320px) {
    /* styles for the full page menu */
    #menu-page .main-menu-page ul li:hover>ul {
        display: block !important;
    }
    .sub-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #menu-page {
        padding: 10px;
        height: 100vh;
        background: #f7f8f8;
    }
    #menu-page .main-menu-page ul, #menu-page .sub-menu-page ul {
        list-style-type: none;
        color: #0054a0;
    }
    #menu-page .main-menu-page li a, #menu-page .sub-menu-page li a {
        text-decoration: none;
        color: #0054a0;
    }
    #menu-page .sub-menu-page li a {
        text-transform: capitalize;
    }
    #menu-page .main-menu-page li, #menu-page .sub-menu-page li {
        padding-top: 10px;
    }
    #menu-page .search-section button {
        background: #ffffff;
        outline: none;
        padding: 5px 5px;
        margin: 3px 0 3px;
        border-left: 1px solid #e0e0e0;
    }
    #menu-page .search-section {
        display: flex;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        width: 100%;
    }
    .search-and-close-section input {
        width: 100%;
        border: none;
    }
    .search-and-close-section, .main-menu-page {
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    .search-and-close-section>img {
        padding-bottom: 10px;
    }
    .search-and-close-section {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .navigation-bar {
        display: none;
    }
    .navigation-bar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    .navigation-bar-mobile .language-selector {
        color: #000000 !important;
        outline: none;
        padding-right: 20px !important;
        font-size: 0.8em !important;
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='24' xmlns='http://www.w3.org/2000/svg'><g><path  stroke='%23000000' stroke-width='10' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%2326a3dd'/></g></svg>") no-repeat right 5px top 50%;
    }
    .language-selector-contents-mobile {
        border-right: 1px solid #a3a3a3;
        padding: 5px 0 5px 0;
    }
    .lef-nav-section {
        display: flex;
        align-items: center;
    }
}

/* mobile medium */

@media only screen and (min-width: 321px) and (max-width: 375px) {
    /* styles for the full page menu */
    #menu-page .main-menu-page ul li:hover>ul {
        display: block !important;
    }
    .sub-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #menu-page {
        padding: 10px;
        height: 100vh;
        background: #f7f8f8;
    }
    #menu-page .main-menu-page ul, #menu-page .sub-menu-page ul {
        list-style-type: none;
        color: #0054a0;
    }
    #menu-page .main-menu-page li a, #menu-page .sub-menu-page li a {
        text-decoration: none;
        color: #0054a0;
    }
    #menu-page .sub-menu-page li a {
        text-transform: capitalize;
    }
    #menu-page .main-menu-page li, #menu-page .sub-menu-page li {
        padding-top: 10px;
    }
    #menu-page .search-section button {
        background: #ffffff;
        outline: none;
        padding: 5px 5px;
        margin: 3px 0 3px;
        border-left: 1px solid #e0e0e0;
    }
    #menu-page .search-section {
        display: flex;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        width: 100%;
    }
    .search-and-close-section input {
        width: 100%;
        border: none;
    }
    .search-and-close-section, .main-menu-page {
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    .search-and-close-section>img {
        padding-bottom: 10px;
    }
    .search-and-close-section {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .navigation-bar {
        display: none;
    }
    .navigation-bar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    .navigation-bar-mobile .language-selector {
        color: #000000 !important;
        outline: none;
        padding-right: 20px !important;
        font-size: 0.8em !important;
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='24' xmlns='http://www.w3.org/2000/svg'><g><path  stroke='%23000000' stroke-width='10' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%2326a3dd'/></g></svg>") no-repeat right 5px top 50%;
    }
    .language-selector-contents-mobile {
        border-right: 1px solid #a3a3a3;
        padding: 5px 0 5px 0;
    }
    .lef-nav-section {
        display: flex;
        align-items: center;
    }
}

/* mobile  Large */

@media only screen and (min-width: 376px) and (max-width: 425px) {
    /* styles for the full page menu */
    #menu-page .main-menu-page ul li:hover>ul {
        display: block !important;
    }
    .sub-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #menu-page {
        padding: 10px;
        height: 100vh;
        background: #f7f8f8;
    }
    #menu-page .main-menu-page ul, #menu-page .sub-menu-page ul {
        list-style-type: none;
        color: #0054a0;
    }
    #menu-page .main-menu-page li a, #menu-page .sub-menu-page li a {
        text-decoration: none;
        color: #0054a0;
    }
    #menu-page .sub-menu-page li a {
        text-transform: capitalize;
    }
    #menu-page .main-menu-page li, #menu-page .sub-menu-page li {
        padding-top: 10px;
    }
    #menu-page .search-section button {
        background: #ffffff;
        outline: none;
        padding: 5px 5px;
        margin: 3px 0 3px;
        border-left: 1px solid #e0e0e0;
    }
    #menu-page .search-section {
        display: flex;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        width: 100%;
    }
    .search-and-close-section input {
        width: 100%;
        border: none;
    }
    .search-and-close-section, .main-menu-page {
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    .search-and-close-section>img {
        padding-bottom: 10px;
    }
    .search-and-close-section {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .navigation-bar {
        display: none;
    }
    .navigation-bar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    .navigation-bar-mobile .language-selector {
        color: #000000 !important;
        outline: none;
        padding-right: 20px !important;
        font-size: 0.8em !important;
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='24' xmlns='http://www.w3.org/2000/svg'><g><path  stroke='%23000000' stroke-width='10' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%2326a3dd'/></g></svg>") no-repeat right 5px top 50%;
    }
    .language-selector-contents-mobile {
        border-right: 1px solid #a3a3a3;
        padding: 5px 0 5px 0;
    }
    .lef-nav-section {
        display: flex;
        align-items: center;
    }
}

/* Tablet */
@media only screen and  (min-width: 426px) and (max-width: 768px) {
    .site-contents {
        margin: 0;
        width: 100%;
    }

    /* styles for the full page menu */
    #menu-page .main-menu-page ul li:hover>ul {
        display: block !important;
    }
    .sub-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #menu-page {
        padding: 10px;
        height: 100vh;
        background: #f7f8f8;
    }
    #menu-page .main-menu-page ul, #menu-page .sub-menu-page ul {
        list-style-type: none;
        color: #0054a0;
    }
    #menu-page .main-menu-page li a, #menu-page .sub-menu-page li a {
        text-decoration: none;
        color: #0054a0;
    }
    #menu-page .sub-menu-page li a {
        text-transform: capitalize;
    }
    #menu-page .main-menu-page li, #menu-page .sub-menu-page li {
        padding-top: 10px;
    }
    #menu-page .search-section button {
        background: #ffffff;
        outline: none;
        padding: 5px 5px;
        margin: 3px 0 3px;
        border-left: 1px solid #e0e0e0;
    }
    #menu-page .search-section {
        display: flex;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        width: 100%;
    }
    .search-and-close-section input {
        width: 100%;
        border: none;
    }
    .search-and-close-section, .main-menu-page {
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    .search-and-close-section>img {
        padding-bottom: 10px;
    }
    .search-and-close-section {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .navigation-bar {
        display: none;
    }
    .navigation-bar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    .navigation-bar-mobile .language-selector {
        color: #000000 !important;
        outline: none;
        padding-right: 20px !important;
        font-size: 0.8em !important;
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='24' xmlns='http://www.w3.org/2000/svg'><g><path  stroke='%23000000' stroke-width='10' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%2326a3dd'/></g></svg>") no-repeat right 5px top 50%;
    }
    .language-selector-contents-mobile {
        border-right: 1px solid #a3a3a3;
        padding: 5px 0 5px 0;
    }
    .lef-nav-section {
        display: flex;
        align-items: center;
    }

}

/* Laptop small */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .site-contents {
        width: 90%;
    }
    .navigation-bar a {
        font-size: 1.3vw;
    }
}

/* Laptop medium */

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/* Laptop Large */
@media only screen and (min-width: 2560px) {

}