.home-slider {
    background-image: url(../images/home-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    /* margin-top: 1em; */
}

.home-latest .bg-blue, .home-docs .bg-blue {
    background-color: #0054a0;
    padding: 1em 0;
}

.announcement hr, .docs hr {
    margin-left: 1.5em;
    margin-right: 0.5em;
}

.home-latest, .home-docs, .site-footer {
    padding-top: 2em;
}

.home-latest .col-8 {
    width: 68%;
}

.home-latest .col-4 {
    width: 31%;
}

.col-8 {
    width: 66%;
}

.col-6 {
    width: 49%;
}

.col-4 {
    width: 33%;
}

.col-3 {
    width: 20%;
}

.home-docs .col-4 {
    width: 31%;
}

.home-latest h3, .home-docs h3 {
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 1.5em;
    margin: 0;
    font-size: 1em;
}

.project-content h4 {
    color: #636363;
    text-transform: uppercase;
    font-weight: 100;
}

.project-content .col-6, .announcement, .news, .docs {
    background-color: #F7F8F8;
}

.project-content .col-6 {
    margin-top: 1em;
}

.project-content h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 1em;
    margin: .5em 0;
    line-height: 1.5;
}

.project-content p {
    text-align: left;
    padding-right: 0.6em;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-start: 0em;
    padding-left: 1.5em;
    margin-bottom: 2.5em;
}

/* announcement */

#date {
    color: #636363;
    padding-left: 1.5em;
}

.news-date {
    color: #636363;
}

.announcement h4, .docs h4 {
    font-weight: 100;
    padding-left: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1.5em;
    padding-right: 0.1em;
}

.announcement h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.announcement {
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.content-announcement {
    padding: 0.5em 0;
}

/* news */

.news {
    padding-bottom: 0.5em;
}

.news-box {
    height: 80px;
    width: 85px;
    margin-left: 1.5em;
    margin-top: 1.2em;
}

.news h4 {
    font-weight: 200;
    margin: 0.9em 0;
}

/* document links */

.docs {
    padding: 0.2em 0;
}

h4 > a, h2 > a {
    color: #000000;
    text-decoration: none;
}

.ppp-latests {
    margin-top: 2em;
}

.project-content {
    margin-bottom: 1em;
}

.view-announcement, .view-news {
    padding: 1.5em;
}

.view-project a, .view-announcement a, .view-news a {
    color: #0054a0;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

.view-project a {
    padding-left: 1.5em;
}


/* styles  for  news card iteam on home page*/
.news-item {
    display: flex;
}

.information-section {
    display: flex;
    flex-direction: column;
}

/* Styles  for header in mobile screen */

/* mobile small*/

@media only screen and (max-width: 320px) {

    .ppp-site {
        width: 100% !important;
    }

    .site-contains-container {
        padding: 0 !important;
    }

    .layout-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .layout-content.news {
        flex-direction: row;
    }

    .home-latest {
        padding-top: 0;
    }

    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        padding-top: 1em;
        width: 90%;
    }

    .home-latest h3, .home-docs h3 {
        font-size: 1.2em;
        padding-left: 1em;
    }

    .project-content .col-6 {
        margin-top: 0;
    }

    .col-6 {
        width: 100%;
    }

    .project-content p {
        padding: 0 0 0.6em 0;
        /* margin: 0 0.6em 0 1.5em; */
        text-align: left;
        line-height: 1.4;
        padding-right: 0.6em;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: unset;
    }

    .project-content .col-6:nth-child(1) {
        border-bottom: 1px solid #a3a3a3;
    }

    .news-box {
        height: 80px;
        width: 85px;
        margin: 0;
    }

    .layout-content.news .col-3 {
        width: 20%;
    }

    .layout-content.news .col-9 {
        width: 70%;
        margin-top: 1em;
    }

    .layout-content.news .col-9 h4 {
        margin: 0.2em 0 0 0;
    }

    .news-date {
        font-size: 0.8em;
    }


    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        margin: 1.5em;
    }

    p {
        font-size: 1em;
        line-height: 1.5 !important;
    }

    .project-content {
        background-color: #F7F8F8;
    }

    .project-content .col-6:first-child {
        border-bottom: 1px solid #000000;
    }

    .project-content .col-6 {
        padding: 1.5em;
    }

    .project-content h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
        font-size: .7em;
    }

    .project-content p {
        margin-block-end: 0em;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
    }

    .news .col-9 {
        width: 68%;
        margin-top: 1em;
    }

    .news .col-3 {
        width: 18%;
    }

    .news-box {
        height: 68px !important;
        width: 66px !important;
        margin-left: 12px;
    }

    /* footer */
    .quickcontacts, .site-visits {
        text-align: center;
    }

    .subscription-section, .quickcontacts {
        border-bottom: 1px solid #3c3e3e;
    }

}

/* mobile medium */

@media only screen and (min-width: 321px) and (max-width: 375px) {

    .ppp-site {
        width: 100% !important;
    }

    .site-contains-container {
        padding: 0 !important;
    }

    .layout-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .layout-content.news {
        flex-direction: row;
    }

    .home-latest {
        padding-top: 0;
    }

    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        padding-top: 1em;
        width: 90%;
    }

    .home-latest h3, .home-docs h3 {
        font-size: 1.2em;
        padding-left: 1em;
    }

    .project-content .col-6 {
        margin-top: 0;
    }

    .col-6 {
        width: 100%;
    }

    .project-content p {
        padding: 0 0 0.6em 0;
        /* margin: 0 0.6em 0 1.5em; */
        text-align: left;
        line-height: 1.4;
        padding-right: 0.6em;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: unset;
    }

    .project-content .col-6:nth-child(1) {
        border-bottom: 1px solid #a3a3a3;
    }

    .news-box {
        height: 80px;
        width: 85px;
        margin: 0;
    }

    .layout-content.news .col-3 {
        width: 20%;
    }

    .layout-content.news .col-9 {
        width: 70%;
        margin-top: 1em;
    }

    .layout-content.news .col-9 h4 {
        margin: 0.2em 0 0 0;
    }

    .news-date {
        font-size: 0.9em;
    }


    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        margin: 1.5em;
    }

    p {
        font-size: 1em;
        line-height: 1.5 !important;
    }

    .project-content {
        background-color: #F7F8F8;
    }

    .project-content .col-6:first-child {
        border-bottom: 1px solid #000000;
    }

    .project-content .col-6 {
        padding: 1.5em;
    }

    .project-content h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
        font-size: .7em;
    }

    .project-content p {
        margin-block-end: 0em;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
    }

    .news .col-9 {
        width: 68%;
        margin-top: 1em;
    }

    .news .col-3 {
        width: 18%;
    }

    .news-box {
        height: 68px !important;
        width: 66px !important;
        margin-left: 12px;
    }

    /* footer */
    .quickcontacts, .site-visits {
        text-align: center;
    }

    .subscription-section, .quickcontacts {
        border-bottom: 1px solid #3c3e3e;
    }
}

/* mobile  Large */

@media only screen and  (min-width: 376px) and (max-width: 425px) {

    .ppp-site {
        width: 100% !important;
    }

    .site-contains-container {
        padding: 0 !important;
    }

    .layout-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .layout-content.news {
        flex-direction: row;
    }

    .home-latest {
        padding-top: 0;
    }

    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        padding-top: 1em;
        width: 90%;
    }

    .home-latest h3, .home-docs h3 {
        font-size: 1.2em;
        padding-left: 1em;
    }

    .project-content .col-6 {
        margin-top: 0;
    }

    .col-6 {
        width: 100%;
    }

    .project-content p {
        padding: 0 0 0.6em 0;
        /* margin: 0 0.6em 0 1.5em; */
        text-align: left;
        line-height: 1.4;
        padding-right: 0.6em;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: unset;
    }

    .project-content .col-6:nth-child(1) {
        border-bottom: 1px solid #a3a3a3;
    }

    .news-box {
        height: 80px;
        width: 85px;
        margin: 0;
    }

    .layout-content.news .col-3 {
        width: 20%;
    }

    .layout-content.news .col-9 {
        width: 70%;
        margin-top: 1em;
    }

    .layout-content.news .col-9 h4 {
        margin: 0.2em 0 0 0;
    }

    .news-date {
        font-size: 0.9em;
    }

    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        margin: 1.5em;
    }

    p {
        font-size: 1em;
        line-height: 1.5 !important;
    }

    .project-content {
        background-color: #F7F8F8;
    }

    .project-content .col-6:first-child {
        border-bottom: 1px solid #000000;
    }

    .project-content .col-6 {
        padding: 1.5em;
    }

    .project-content h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
        font-size: .7em;
    }

    .project-content p {
        margin-block-end: 0em;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
    }

    .news .col-9 {
        width: 68%;
        margin-top: 1em;
    }

    .news .col-3 {
        width: 18%;
    }

    .news-box {
        height: 68px !important;
        width: 66px !important;
        margin-left: 12px;
    }

    /* footer */
    .quickcontacts, .site-visits {
        text-align: center;
    }

    .subscription-section, .quickcontacts {
        border-bottom: 1px solid #3c3e3e;
    }
}

/* Tablet */

@media (min-width: 426px) and (max-width: 768px) {
    .ppp-site {
        width: 100% !important;
    }

    .site-contains-container {
        padding: 0 !important;
    }

    .project-content .col-6 {
        background-color: #F7F8F8;
    }


    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        margin: 1.5em;
    }

    .project-content .col-6 {
        padding: 1.5em;
    }

    .project-content h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .project-content .col-6:first-child {
        border-bottom: 1px solid #000000;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
    }

    .news .col-9 {
        width: 78%;
        margin-top: 1em;
        padding-right: 12px;
    }

    .news .col-3 {
        width: 18%;
    }

    /* footer */
    .quickcontacts, .site-visits, .subscription-section {
        text-align: center;
    }

    .subscription-section, .quickcontacts {
        border-bottom: 1px solid #3c3e3e;
    }

    .home-latest .col-8, .home-latest .col-4, .home-docs .col-4 {
        width: 90%;
    }

    .project-content p {
        display: -webkit-box;
        -webkit-line-clamp: unset;
        padding-left: 0;
    }

    .layout-content.news {
        display: flex;
        flex-direction: row !important;
        align-items: center;
    }
}

/* Laptop 1024 */

@media (min-width: 769px) and (max-width: 1024px) {
    .home-latest .col-8 {
        margin: 0;
    }

    .home-latest .col-4, .home-docs .col-4 {
        width: 31%;
    }

    .project-content .col-6 {
        margin-top: 1em;
    }

    .news .col-9 {
        width: 68%;
        margin-top: 1.5em;
        padding-right: 12px;
    }

    .col-3 {
        width: 18%;
    }

    .project-content p {
        padding-left: 1.5em;
    }

    .project-content h4, .project-content h2 {
        font-size: 14px;
        padding-left: 1.6em;
    }

    .view-project a, .view-announcement a, .view-news a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1025px)  and (max-width: 1440px){
    .layout-content {
        display: flex;
        flex-wrap: wrap;
    }

    .home-latest .col-8 {
        width: 68%;
        margin: 0;
    }

    .project-content .col-6 {
        background-color: #F7F8F8;
    }

    .home-latest .col-4 {
        width: 31%;
    }

    .news .col-9 {
        width: 78%;
        margin-top: 1.5em;
        padding-right: 12px;
    }

    .news .col-3 {
        width: 18%;
    }

    .col-3 {
        width: 20%;
    }

    .home-docs .col-4 {
        width: 31%;
    }

    .project-content .col-6 {
        margin-top: 1em;
    }

    .home-latest, .home-docs, .site-footer {
        padding-top: 2em;
    }

    .project-content p, .project-content h4, .project-content h2 {
        padding-left: 1.5em;
    }

    .site-footer .main-footer {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .news .col-9 {
        width: 80%;
    }
}


@media only screen and (min-width: 2561px) {
    .news .col-9 {
        width: 80%;
    }
}