.home-slider {
    background-image: url(../images/home-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    /* margin-top: 1em; */
}

.home-latest .bg-blue, .home-docs .bg-blue {
    background-color: #00A3DD;
    padding: 1em 0;
}

.events hr, .announcement hr, .docs hr {
    margin-left: 1.5em;
    margin-right: 0.5em;
}

.home-latest, .home-docs, .site-footer {
    padding-top: 2em;
}

.home-latest h3, .home-docs h3 {
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 1.5em;
    margin: 0;
    font-size: 1em;
}

.project-content h4 {
    padding-left: 1.5em;
    color: #636363;
    text-transform: uppercase;
    font-weight: 100;
}

.announcement, .events, .news, .docs {
    background-color: #F7F8F8;
}

.project-content h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 1em;
    padding-left: 1.5em;
    margin: .5em 0;
    line-height: 1.5;
}

.project-content p {
    padding-left: 1.5em;
    text-align: left;
    padding-right: 0.6em;
    line-height: 1.4;
}

/* announcement */

#date {
    color: #636363;
    padding-left: 1.5em;
}

.news-date {
    color: #636363;
}

.announcement h4, .events h4, .docs h4 {
    font-weight: 100;
    padding-left: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-right: 0.1em;
}

.announcement, .events {
    padding-top: 1em;
    padding-bottom: 0.2em;
}

/* news */

.news-box {
    height: 80px;
    width: 85px;
    background-color: #E6E6E6;
    margin-left: 1.5em;
    margin-top: 1.2em;
}

.news h4 {
    font-weight: 200;
}

/* document links */

.docs {
    padding: 0.2em 0;
}

h4>a, h2>a {
    color: #000000;
    text-decoration: none;
}

/* responsiveness */

