/*set up font family*/
html, body {
    width: 100%;
}
body {
    margin: 0;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}
.ppp-site {
background-color: #f7f8f8;

}
/* center site contents*/
.site-contents {
    margin: auto;
    width: 60%;
    background-color: #fff;
}
@media only screen and (max-width: 1280px) {
    .site-contents {
        width: 90%;
    }
  }

@media only screen and (max-width: 1024px) {
    .site-contents {
        width: 90%;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) { 
    .site-contents {
        width: 90%;
    }
}
  @media only screen and (max-width: 425px) {
    .site-contents {
        width: 100%;
    }
  }

