.material.col-4 {
    background-color: #F7F8F8;
    width: 31%;
}
.phases{
    padding-top: 1.5em;
}
.phases h4>a, .phases p>a,#training-title > a{
    font-weight: 300;
    color: #00A3DD
}

.phases h4 {
    margin-block-end: 0.9em;
    padding-left: 1.5em;
    font-size: 1em;
}

.phases p {
    font-size: .85em;
    padding-left: 3.5em;
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
}